.footer {
  color: #fff;
  width: 90%;
  max-width: $max-width;
  border-top: 1.5px solid $color-border;
  @include flex(row, nowrap, space-between, center, 0);
  padding: 2em 2em;
  @include responsive($query-tablet) {
    width: 100%;
    padding: 1em 0.5em;
  }
  &__ul {
    @include flex(row, nowrap, flex-start, center, 1.5em);
  }
  &__li {
  }
  &__i {
    width: 1.2em;
    height: 1.2em;
    color: #fff;
  }
  &__git {
    @include flex(row, nowrap, flex-start, center, 0.5em);
  }
}
