.profile {
  @include flex(row, nowrap, flex-start, center, 0.4em);
  &__article {
    @include flex(row, nowrap, flex-start, center, 0.4em);
  }

  &__img {
    width: 45px;
    height: 45px;
    @include flex(row, nowrap, center, center, 0);
    background: $color-background-key;
    border: 1px solid $color-border;
    border-radius: 50%;
    cursor: pointer;
  }
  &__image {
  }
}
