.public {
  width: 100%;
  @include flex(column, nowrap, flex-start, flex-start, 1em);
  &__h3 {
    font-size: 2em;
    color: #fff;
  }
  &__p {
    font-size: 2em;
    border: 1px solid $color-border;
    border-radius: 0.5em;
    padding: 0.2em;
    color: $gray-color-text;
    width: 100%;
    overflow-wrap: break-word;
  }
}
