.transaction {
  width: 100%;
  color: #fff;
  &__title {
    width: 100%;
    @include flex(row, nowrap, space-between, center, 0);
  }
  &__h3 {
    font-size: 2em;
  }
  &__table {
    width: 100%;
  }
  &__thead {
    width: 100%;
    font-weight: normal;
  }
  &__tr {
    width: 100%;
    padding: 1.5em 0;
    border-bottom: 1.5px solid $color-border;
    @include flex(row, nowrap, space-between, center, 0);
  }
  &__th {
    font-weight: normal;
    width: 20%;
    text-align: left;
    text-transform: uppercase;
  }
  &__td {
    width: 20%;
    color: $gray-color-text;
    font-size: 0.9em;
    @include flex(row, nowrap, flex-start, center, 0.3em);
  }
}
